.invoices {
    width: 100%;

    &__title {
        display: flex;
        justify-content: center;
    }

    &__content {
        margin: 8px;

        ion-item-sliding ion-item {
            --border-color: transparent;
        }
    }

    &__options {
        --ion-background-color: #e8e8e9;
        background: #e8e8e9;
    }

    .invoices__option ion-icon {
        font-size: 24px;
    }

    &__option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 3px;
        width: 70px;
    }

    &__option-item {
        background: #3980ff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        span {
            color: white;
            font-size: 10px;
            margin-bottom: 5px;
        }
    }

    &__option-delete {
        background: red;
    }

    ion-item-sliding {
        --ion-background-color: #e8e8e9;
    }

    &__wrap {
        display: flex;
    }

    &__icon-arrow {
        display: flex;
        margin-left: auto;
        color: #3980ff;
    }

    &__data {
        font-size: 12px;
    }

    .size {
        padding: 2px;
    }

    &__items {
        margin-bottom: 15px;
        margin-top: 15px;
        border-left: 5px solid green;
    }
}
